<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	
	<typeAliases>
    	<package name="com.juan.project.vo.UserVo" />
    	<package name="com.juan.project.vo.BoardVo" />
  	</typeAliases>

	<mappers>
		<mapper resource="/mapper/boardMap.xml" />
		<mapper resource="/mapper/userMap.xml" />
	</mappers>
	
</configuration>

